@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');

html{
	height: 100%;
}
html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	min-height: 100%;
	position: relative;
	font-family: renault-regular !important;
	overflow-x: hidden;
}
.click-tr{
	background: #ccc;
}
.save-tr{
	background: #fcc;
}

.table-title{
	background: #eaeaea;
}
.table-title td{
	font-size: 12px;
}
.input-label{
	border:0px;
	pointer-events: none;
	color: #777;
}

#main{
	height: calc(100% - 112px);
	background-color: white; 
	z-index: 0;
}
#header{
	height: 56px; 
	padding-left: 16px;
}
#footer{
	width: 100%;
	height: 56px;
	z-index: 1;
}
.pdt-20{
	padding-top: 20px;
}
.pdt-5{
	padding-top: 20px;
}
.pr-0{
	padding-right: 0px;
}
.pad-0{
	padding: 0px !important;
}
.bt-0{
	border-top: 0px !important;
}

.form-control{
	border-radius: 0px !important;
}

.clearer,.clearer-block{
	cursor:pointer;position: absolute;top: 11px;right: -5px;color: #aaa;transition: color 0.2s linear, transform 0.2s linear;
}
.clearer:hover,.clearer-block:hover{
	color: #a00;
	transform: rotate(360deg);
}
.input-icon{
	position: absolute;
	top: 8px;right: 25px;
	color: #ddd;
	font-size: 20px;
	cursor: pointer;
}
.input-icon:hover{
	color: #333
}

.disabled{
	pointer-events: none;
}

input::placeholder { color: #ddd !important; } 
label.form-control{
	border-color: #fff;
}
.label-adder{
	position: absolute;
	right: -5px;
	top: 7px;
	transition: transform 0.3s linear;
}
.label-adder:hover{
	transform: scale(1.2,1.2)
}
.sublabel{
	color: #777;
	padding: 0px;
	margin: 0px;
}
.cardops-label{
	font-size: 12px;
}
.cardops-label input{
	position: relative;top: 4px;
}


/* Полупрозрачный блок, перекрывающий основной контент при открытии боковой панели */
#disableContent{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background-color: gray; 
	opacity: 0.25;
	z-index: 2;
	display: none;
}
/* Скрытая боковая панель */
#hidden_panel{
    position: fixed; /* положение */
    overflow: auto; 
    z-index: 3;
    top: 0;
    right: -50%; /* отступ справа */
    background: white; /* цвет фона */
    width: 50%; 
    height: 100%; 

    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/* Стили основных вкладок */
#crmTabs li a{
	color: #000;
	background-color: #dbe5f1;
	border: 1px #fff solid;
}
#crmTabs li .active{
	color: #000;
	font-weight: bold;
	background-color: #fff;
	border: 1px #fff solid;
}
/* Стили вкладок в боковой панели */
#hiddenTab li a{
	color: #000;
	background-color: #dbe5f1;
	border: 1px #fff solid;
}
#hiddenTab li .active{
	color: #000;
	font-weight: bold;
	background-color: #fff;
	border: 1px #fff solid;
}
/* Стили вкладок в Рабочем листе (Образ клиента, Параметры и т. д.) */
#worksheetTabs li a{
	color: #000;
	background-color: #dbe5f1;
	border: 1px #fff solid;
}
#worksheetTabs li .active{
	color: #000;
	font-weight: bold;
	background-color: #fff;
	border: 1px #fff solid;
	border-top: 1px #dbe5f1 solid;
}
/* Стили вкладок карточки автомобиля*/
#autocardModalTabs li a{
	color: #888;
	background-color: #eee;
	border: 1px #ddd solid;
}
#autocardModalTabs li .active{
	color: #000;
	background-color: #fff;
	border: 1px #eee solid;
}
/* Убирает пунктирное выделение кнопки/ссылки/... после клика */
:focus{
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}
/**
 * Голубой цвет фона из шаблона
 */
.bg-ice {
	background-color: #dbe5f1 !important;
}
/**
 * Оранжевый цвет для нажатых кнопок класса btn-light
 * Используется в Листе трафика
 */
.btn.btn-light.active {
	background-color: #fc3 !important;
	border-color: #fc3 !important;
}
/**
 * Оранжевая обводка при фокусе на элементах ввода
 */
input[type="text"], input[type="number"], select, textarea {
	box-shadow: none !important;
}
input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
	border: 1px solid #fc3 !important;
	box-shadow: 0 0 5px #fc3 !important;
}
/**
 * Стили кнопок по шаблону
 */
.btn {
	border-radius: 0 !important;
}
.btn-primary {
	background-color: #4f81bd !important;
	border-color: #4f81bd !important;
}
.btn-primary:hover {
	background-color: #3c689e !important;
	border-color: #3c689e !important;
}
.btn-success {
	background-color: #8ccb5e !important;
	border-color: #8ccb5e !important;
}
.btn-success:hover {
	background-color: #70ba3c !important;
	border-color: #70ba3c !important;
}
.btn-warning {
	background-color: #fc3 !important;
	border-color: #fc3 !important;
}
.btn-warning:hover {
	background-color: #dc9d00 !important;
	border-color: #dc9d00 !important;
}
.btn-danger {
	background-color: #c0504d !important;
	border-color: #c0504d !important;
}
.btn-danger:hover {
	background-color: #9e3c39 !important;
	border-color: #9e3c39 !important;
}


.alert_traffic_block{
	width: 200px;
	height: 30px;
	background: #1e90ff;
	color: #fff;
	position: fixed;
	bottom: 15px;
	left: 15px;
	text-align: center;
	box-shadow: 0 0 10px #000;
	border-radius: 5px;
	font-size: 16px;
	padding-top: 6px;
	line-height: 16px;
	cursor: pointer;
}
.alert_traffic_block:hover{
	background: #f00 !important;
}

/********************************************************/
.animate-label-traffic{
	animation: alarm-traffic 1s infinite ease-in-out;
}
@keyframes alarm-traffic{
	from{
		background: #1e90ff;
		color: #fff;
	}
	50%{
		background: #007fff;
		color: #ddd
	}
	to{
		background: #1e90ff;
		color: #fff;
	}
}
/********************************************************/

.traffic_modal{
	width: 30%;
	position: fixed;
	top: 200px;
	left: 35%;
	background: #fff;
	border: 1px solid #aaa;
	padding: 15px 0;
	z-index: 9999;
}
.traffic_modal .param{
	background: #fc3;
	color: #333;
	margin-bottom: 10px;
}

.original_traffic_modal
{
	display: none;
}
.hidden-button button{/*display: none;*/}

.trafic_action_block input{
	border-width: 0px;
	text-align: center !important;
}

#car-color .active{
	height: 40px !important;
	margin-top: -5px;
}

.column{
	margin-bottom: 20px;
    width: 100%;
    text-align: justify;
    column-count: 2 !important;
    -moz-column-count: 2 !important;
    -webkit-column-count: 2 !important;
    column-gap: 10px  !important;
    -moz-column-gap: 10px  !important;
    -webkit-column-gap: 10px  !important;
}
.column label{display: block;}

b.red{background: #f00; height: 20px;width: 20px;border-radius: 100%;display: block; margin: auto;}
b.yellow{background: #ff0;height: 20px;width: 20px;border-radius: 100%;display: block;margin: auto;}
b.green{background: #0f0;height: 20px;width: 20px;border-radius: 100%;display: block;margin: auto;}

.color-btn{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	margin:3px;
	display:inline-block;
	width:30px;
	height:30px;
	border-radius: 5px;
	border:1px solid #333;
	transition: 0.3s linear transform, 0.3s linear border-color;
}
.color-btn:checked{
	transform: rotate(45deg);
	border-color: #000;
}

.table  tr:hover{
	background: #eaeaea;
}
.photo-load{
	display: none;
	width: 80%;
	position: absolute;
	left: 10%;
	top:100px; 
	background: #fff;
	box-shadow: 0 0 15px #000;
	padding: 15px;
	border-radius: 10px;
	box-sizing: padding-box;
	z-index: 1000;
}
.photo-load .old-photo{
	min-height: 300px;
}
.photo-load button{
	width: 200px;
}
.old-photo{
	position: relative;
}
.photo-load img{
	width: 24%;
	height: auto;
	display: inline-block;
}


/*КАРТОЧКА МАШИНЫ*/
.pack-area{border-bottom: 1px #dcdcdc solid;}
.pack-name{padding-top: 10px;}
.pack-desc{font-size: 12px; padding: 10px 0;}
#complect-option{font-size: 12px;background: #eee;}


/*модальное окно выиджета программы лояльности*/
/*виджет хранится в crm.blade*/
#pv-modal{
	z-index: 100;
	display: none;
	background: #fff;
	width: 400px;
	height: auto;
	position: absolute;
	top: 300px;
	left: 300px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 15px #999;
}
#pv-modal .close{
	position: absolute;right: 15px;top:15px;z-index: 100
}
#pv-modal h4{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #888;
}
.pv-list{
	border-bottom: 1px dashed #888;
	padding-bottom: 5px;
}
#pv-modal .fa-check{
	color: #0a0;
}
#pv-modal .default{
	display: none;
}

#car-option-modal{
	width: 30%;
	position: fixed;
	left: 35%;
	top: 200px;
	display: none;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px #333;
	opacity: 0;
	border: 1px solid #077;
}

#car-option-modal .close{
	position: absolute;
	right: 15px;
	top: 15px;
}
.title-option-modal{
	background: #077;
	color: #fff;
	text-shadow: 0 0 3px #000;
	padding: 15px;
	border-radius: 10px 10px 0 0;
}
.car-option-content{
	padding: 15px;
}
#car-option-modal .footer-modal{
	border-radius: 0 0 10px 10px;
	background: #055;
	width: 100%;
	height: 30px;
}
.v_color{
	/*border:1px solid #ccc; */
	width: 25px; 
	height: 25px; 
	display: block;	
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	border-radius: 7px;
}



/*ОФОРМЛЕНИЕ -> ПЛАТЕЖИ*/
.client_pays{}
.client_pays h2, .client_pays h5{
	color: #75c1ff;
	padding: 0px;
	margin: 0px;
}
.client_pays h2{
	font-size: 26px;
}
.client_pays .info{
	margin-top: 20px;
}

/*ОФОРМЛЕНИЕ -> КРЕДИТЫ*/
.client_kredit{}
.client_kredit label{color: #777;margin: 0px;}



/*CHECKBOX*/
.check {
	position: relative;
	padding-top: 5px;
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after,
.check {
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
	display: inline-block  !important;
	border-radius: 1rem  !important;
	border: 0  !important;
	transition: .35s ease-in-out  !important;
	box-sizing: border-box  !important;
	cursor: pointer  !important;
}

.check label {
	width: 2.2rem;
	height: 1rem;
	background: #d7d7d7;
	overflow: hidden;
}

.check input[type="checkbox"] {
	position: absolute;
	z-index: 1;
	width: .8rem;
	height: .8rem;
	top: .4rem;
	left: .1rem;
	background: linear-gradient(45deg, #dedede, #ffffff);
	box-shadow: 0 6px 7px rgba(0,0,0,0.3);
	outline: none;
}

.check input[type="checkbox"]:checked {
	left: 1.3rem;
}

.green-check{background: #0f0 !important;}
.red-check{background: #f00 !important;}
/*END CHECKBOX*/


.mymodal{
	display: none;
	position: absolute;
	width: 50%;
	left: 25%;
	top: 150px;
	background: #fff;
	min-height: 200px;
	box-shadow: 0 0 15px #333;
	border-radius: 5px;
	z-index: 999;

}
.mymodal-close{
	position: absolute;
	right: 5px;
	top:5px;
	z-index: 100
}

.item-block{
	position: relative;
}

/*REMOTE*/

.right-remote,.left-remote{
	position: absolute;
	top: 49%;
	width: 50px;
	height: 50px;
	background: red;
	background: #faa;
	opacity: 0.2;
	color: #fff;
	transition: opacity 0.3s linear,width 0.3s linear;
}
.right-remote:hover,.left-remote:hover{
	opacity: 1;
	width: 100px
}
.left-remote{
	left: -20px;
	border-radius: 0 15px 15px 0;
}
.right-remote{
	right: -20px;
	border-radius: 15px  0 0 15px;
}
.curs{
	display: block ;
	margin: auto  ;
	font-size: 30px  ;
	color: #fff  ;
	margin-top: 8px;
}